.btn-pos-1{
    background-color: aqua;
    border: 8px;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    top:0px;
}
.btn-pos-2{
    background-color: aqua;
    border: 8px;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    top:30px;
}
.btn-pos-3{
    background-color: aqua;
    border: 8px;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    top:60px;
}
.board{
    background-image: url("/resources/images/example_map.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    position:relative;
}