.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 33%;
    /* explanation below */
    margin: 0px;
}


.centerBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*CARTA*/
.principalCard {
    /* width: 27%;
    height: 52%; */
    /* width: 23*0.7vw;
    height: 23vw; */
    /* margin-bottom: 2%; */
    /* margin-left: 5%; */
    height: 95%;
    width: 85%;
    position: relative;
    /* display: inline-block; */

}

.cardImage {
    width: 100%;
    height: 100%;
}

.topTextName {
    position: absolute;
    top: 3%;
    /* font-size: 127%; */
    font-size: 1.25vmax;
    margin-left: 8%;
    color: aliceblue;
    font-family: "Critter";
}

.topTextCost {
    position: absolute;
    top: 3%;
    /* font-size: 193%; */
    font-size: 1.5vmax;
    margin-left: 86%;
    color: aliceblue;
    font-family: "Critter";
}

.topTextAspect {
    position: absolute;
    top: 10%;
    /* font-size: 103%; */
    font-size: 1.1vmax;
    margin-left: 8%;
    color: aliceblue;
    font-family: "Critter";
}

.topTextHalfDeck {
    position: absolute;
    top: 10%;
    /* font-size: 103%; */
    font-size: 1.1vmax;
    width: 100%;
    text-align: right;
    right: 7%;
    color: aliceblue;
    font-family: "Critter";
}

.topTextRulesText {
    position: absolute;
    width: 83%;
    top: 55%;
    left: 8.5%;
    /* font-size: 90%; */
    font-size: 0.8vmax;
    text-align: justify;
    color: black;
    font-family: "Critter";
}

.topTextRarity {
    position: absolute;
    top: 90%;
    width: 100%;
    /* font-size: 110%; */
    font-size: 1vmax;
    color: aliceblue;
    font-family: "Critter";
    text-align: center;
}

.topTextDeckVP {
    position: absolute;
    top: 84.5%;
    font-size: 160%;
    font-size: 1.5vmax;
    margin-left: 66.5%;
    color: aliceblue;
    font-family: "Critter";
}

.topTextInnerCirclePV {
    position: absolute;
    top: 84.4%;
    font-size: 160%;
    font-size: 1.5vmax;
    margin-left: 81.8%;
    color: aliceblue;
    font-family: "Critter";
}

/*MENU SUPERIOR*/
.textmenu {
    color: aliceblue;
    margin-top: 3px;
}

.contenedor {
    background-color: rgb(25, 24, 24);
    margin-top: -40px;
    margin-bottom: 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contenedor-menu {
    display: flex;
    justify-content: space-around;
    height: 30px;
    margin: 0 auto;
}
 /*PAGINATION*/
.pagination-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*ERROR*/
.card-not-found{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FILTER*/
.filter-bigbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-box{
    width: 60%;
    height: 100%;
    border-radius: 2vmax;
    border-color: black;
    border-style: solid;
    border-width: 0.4vmax;
    background-image: url(/resources/images/round0-background.jpg);
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-method{
    display: flex;
    width: 69%;
    height: 100%;
    flex-direction: column;
    padding: 5%;
}
.filter-search{
    display: flex;
    height: 100%;
    width: 30%;
    align-items: flex-end;
}
.nameanddeck-filter-box{
    display: flex;
    flex-direction: row;
}
.filter-tittle{
    font-size: 1.7vmax;
    color: aliceblue;
}
.filter-cardanddeck-text{
    font-size: 1.3vmax;
    color: aliceblue;
}
.filter-resume-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.filtered-box{
    font-size: 1vmax;
    display: flex;
    align-items: center;
    background-color: rgb(168, 193, 214);
    border-color: #2c243d;
    border-style: solid;
    border-width: 0.18vmax;
    padding: 1.5%;
    border-radius: 0.5vmax;
}
.x-button{
    color: #8e385e;
}
.x-button2{
    color: #8e385e;
    margin-left: 0.3vmax;
}
.filtered-in-box{
    width: 58%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
