.create-box{
    background-image: url(/resources/images/round0-background.jpg);
    background-position: center;
    background-size:cover;        
    display: flex;
    flex-direction: row;
    border-radius: 1vmax;
    height: 100%;
    width: 100%;
}
.create-box .left-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
}
.left-box .new-game-and-rules-box{
    display: flex;
    flex-direction: row;
    height: 33%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.left-box .new-game-box{
    display: flex;
    background-color: #601484;
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1vmax;
    margin-left: 1vmax;
    margin-right: 1vmax;
    border-radius: 0.5vmax;

}
.left-box .new-game-text{
    padding: 0.5vmax;
    display: flex;
    font-size: 1.8vmax;
    color: aliceblue;
    text-align: center;
}
.left-box .rules-box{
    background-color: aliceblue;
    border-radius: 1vmax;
    padding: 0.4vmax 0.9vmax;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1vmax;
    width: 39%;
    margin-top: 1vmax;
    margin-right: 1vmax;
}
.rules-box .vio{
    color:#601484;
    margin-bottom: 0px;
}
.left-box .new-name-and-map-box{
    display: flex;
    flex-direction: row;
    height: 33%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.left-box .new-name-box{
    display: flex;
    background-color: #601484;
    width: 58%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 1vmax;
    border-radius: 0.5vmax;
}
.left-box.left-box .new-name-text{
    padding: 0.5vmax;
    display: flex;
    font-size: 1vmax;
    color: aliceblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.25vmax;
}
.new-name-text .name{
    font-size: 1.2vmax;
    margin-bottom: 0%;
}
.left-box .new-map-box{
    display: flex;
    background-color: #601484;
    width: 39%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vmax;
    margin-right: 1vmax;
    margin-top: 1vmax;
    margin-bottom: 1vmax;

}
.left-box .new-map-text{
    display: flex;
    font-size: 1vmax;
    color: aliceblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.2vmax;
}



.left-box .full-deck-box{
    background-color: #601484;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 33%;
    width: 95%;
    border-radius: 0.5vmax;
    margin-right: 1vmax;
    margin-left: 1vmax;
    margin-bottom: 1vmax;
}
.left-box .first-second-deck-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 1vmax;
    padding-bottom: 1vmax;
    padding-right: 1vmax;
}
.left-box .deck-title{
    padding: 1vmax;
    color: aliceblue;
    font-size: 1.5vmax;
}

.left-box .deck-box{
    width: 48%;
    background-color: rgb(175, 121, 190);
    padding: 1.2vmax;
    border-radius: 0.5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-box .righ-box{
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    margin-right: 1vmax;
    width: 44%;
    background-color: #601484;
    border-radius: 0.5vmax;
}
.righ-box .players-tittle-box{
    margin-top: 0.5vmax;
    margin-left: 1vmax;
    width: 100%;
    height: 15%;
    font-size: 1.7vmax;
    color: aliceblue;
    display: flex;
    align-items: center;
}   

.righ-box .username-text-color{
    color: #601484;
}

.righ-box .players-big-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    margin-left: 1vmax;
    margin-right: 1vmax;
    margin-bottom: 1vmax;
    height: 78%;
    width: 94%;
    background-color: rgb(221, 192, 219);
    font-size: 1vmax;
    border-radius: 0.5vmax;
}
.righ-box .unique-player-selected-box{
    width: 90%;
    display: flex;
    padding-left: 1vmax;
    align-items: center;
    background-color:rgb(175, 121, 190);
    height: 16.5%;
    margin-top: 1vmax;
    border-radius: 0.5vmax;
}








.popup {
    background-color: rgba(231, 238, 245,0.5);
    height: 80%;
    width: 85%;
    overflow-y: scroll;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border: 3px;
    border-radius: 10px;
    font-size: 2vmax;
}
.popup .x {
    color: red;
    user-select: none;
    width: 40px;
    height: 40px;
    position: absolute;
    align-self: flex-start;
    margin-left: 10px;
}
.popup .ls{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.popup .popup-content-box{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #601484;
    border-width:2px;
    border-color: black;
    border-style: solid;
    margin: 3px;
}
    .gameButton {
        background-color: #601484;
        border-radius: 1vmax;
        color: white;
        padding: 0.4vmax 0.9vmax;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        font-size: 1vmax;
    }
    .gameError {
        border: 3px;
        border-radius: 5px;
        border-color: red;
    }
    a {
        color : aliceblue;
    }