.fullscreen-game{
    height: 100%;
    width: 100%;
}
/* HUD SUPERIOR */
.tophud{
    height: 6%;
    background-color: rgb(25, 24, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.tophud-box{
    display: flex;
    width: 33%;
    height: 100%;            
}
.tophud-b1{
    justify-content: flex-start;
    align-items: center;
}
.player-div{
    margin-left: 1%;
    font-size: 1.5vmax;
    color: aliceblue;
}
.tophud-b2{
    justify-content: center;
    align-items: center;
}
.resume-div{
    width: 100%;
    height: 65%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color:darkgoldenrod;
    border-width: 3px;
    border-style: solid;
}
.resume-text{
    font-size: 1.5vmax;
}
.tophud-b3{
    justify-content: flex-end;
    align-items: center;
}
.round-div{
    margin-right: 1%;
    font-size: 1.5vmax;
    color: aliceblue;
}


/* Box general 2*/
.game-flex{
    height: 94%;
    width: 100%;
    display: flex;
}

/* resources loyout */
.resource-layout{
    width: 5%;
    background-color:rgb(25, 24, 24);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.resources-box{
    width: 100%;
    height: 10%;
    display: flex;
}
.resource-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
    background-position: center;
    background-size: 90%;
    background-repeat:no-repeat;
}
.influence{
    background-image: url(/resources/images/influence.png);
}
.power{
    background-image: url(/resources/images/power.png);
}
.troops{
    background-image: url(/resources/images/troop_white.png);
}
.spies{
    background-image: url(/resources/images/spy_white.png);
}
.trophyHall{
    background-image: url(/resources/images/trophy_white.png);
}
.innerCircle{
    background-image: url(/resources/images/innerCircle.png);
}
.resource-image-vp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
    background-position: center;
    background-size: 90%;
    background-repeat:no-repeat;
    background-image: url(/resources/images/vp_white.png);
    transition-duration: 0.5s;
}
.resource-image-vp:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
    background-position: center;
    background-size: 90%;
    background-repeat:no-repeat;
    background-image: url(/resources/images/vp_gold.png);
    transition-duration: 0.5s;
}
.resource-valor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
    color: aliceblue;
    font-size: 1.2vmax;
}

/*positions round0*/
.positions-round0{
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/resources/images/round0-background.jpg);
    background-position: center;
    background-size:cover;
}
.position-scroll{
    display: flex;
    width: 60%;
    height: 80%;
    border: 2px solid #5f4b8b;
    background-color: #e3e3e398;
    overflow-y: scroll;
    justify-content: center;
     
}

.position-scroll::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

.position-scroll::-webkit-scrollbar-track {
    background: #e3e3e398;
    border-radius: 100vw;
    margin-block: 0.2em;
}

.position-scroll::-webkit-scrollbar-thumb {
    background: #5f4b8b;
    border: 0.25em solid #e3e3e398;
    border-radius: 100vw;
}

.position-scroll::-webkit-scrollbar-thumb:hover {
background: hsl(120 100% 10% / 1);
} 

.position-totally{
    display: flex;
    width: 100%;
    height: 100%;
}

input:checked ~label{
    color: red;
    background-color: #96dfe4;
}

.btn-submit-form{
    background-color: #96dfe4;
    border-width: 1px;
}

a:link, a:visited, a:active {
    text-decoration: none;

}
body{
    margin : 0;
    padding : 0;
}
abbr{
    display:flex; 
    width: 100%; 
    height: 100%; 
    text-decoration: none;
}

